<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/jquery-ui-base-css")
        @RenderSection("styles", required: false)
        @Styles.Render("~/site-css")

        @Scripts.Render("~/modernizr-js")
        @Scripts.Render("~/jquery-js")
        @Scripts.Render("~/jqueryui-js")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/site-js")
    </head>
    <body>
        <div class="page-header">
            <div class="page-header-navigation"></div>
        </div>

        <div class="page-container">
            <h1>DiDaKu Timeaxis CloudEngine</h1>
            <div class="page-container-navigation">
                <ul class="page-container-navigation-menu" id="menu-top">
                    <li id="menu-enginestater" class="nav-menu-active">启动引擎</li>
                    <li id="menu-engineoption">引擎配置</li>
                    <li id="menu-loggerview">运行日志</li>
                    <li id="menu-clientoption">引擎管理</li>
                </ul>
            </div>
            @RenderBody()

        </div>

        <div class="page-footer">
            <div class="clearfix footer-copyright">Copyright 2012 DiDaKu.com</div>
        </div>
    </body>
</html>